
// Variables des couleurs //

$color_bg_main: #FFFFFF;

// Variables des couleurs pour les textes //

$color_text_black: #101010;
$color_text_grey: #353535;
$color_text_white: #FFFFFF;
$color_text_green: #008766;

// Variables des couleurs pour les backgrounds //

$color_bg_grey: #EAEAEA;
$color_bg_lightgrey: #F6F6F6;
$color_bg_greyicon: #7E7E7E;
$color_bg_purple: #9256DC;
$color_bg_white: #FFFFFF;
$color_bg_green: #99E2D0;
$color_bg_black: #353535;

// Variables des couleurs pour les boutons //

$color_button_top: #FF79DA;
$color_button_bottom: #9356DC;

// Variables des ombres //

$box-shadow-values: (
  normal: 0px 4px 10px 0px rgba(0, 0, 0, 0.25),
  hover: 0px 4px 10px 0px rgba(0, 0, 0, 0.35),
  active: 0px 4px 10px 0px rgba(0, 0, 0, 0.15)
);